.container {
  background-color: #fff;
  box-shadow: -8px -8px 12px rgb(255, 255, 255), 8px 8px 12px rgba(225, 225, 225);
  border: 1px solid #cacaca;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 50px auto;
}

.search {
  width: 500px;
  padding: 0px 10px;
  margin: 50px;
  border: 1px solid #cacaca;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
}
.search:focus {
  outline: none;
  box-shadow: inset -2px -2px 4px #fff, inset 2px 2px 4px #00000018;
  border: 1px solid #5a5a5a;
}
.search::placeholder {
  color: #0000004d;
}

.coinsContainer {
  background-color: #fcfcfc;
  border: 1px solid #bbbbbb;
  border-radius: 15px;
  width: 700px;
  margin-bottom: 70px;
  overflow: hidden;
}

@media (max-width: 650px) {
  .container {
    width: 92vw;
    border-radius: 15px;
    box-shadow: -4px -4px 6px #fff, 4px 4px 6px #00000018;
    margin: 20px 0;
    overflow: hidden;
  }
  .search {
    width: 70%;
    max-width: 400px;
    margin: 25px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
  }
  .coinsContainer {
    border-radius: 0px;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: none;
  }
}
@media (max-width: 1000px) and (min-width: 650px) {
  .container {
    width: 92vw;
    border-radius: 20px;
    box-shadow: -6px -6px 9px #fff, 6px 6px 9px #00000018;
  }
  .search {
    width: 70%;
    margin: 25px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
  }
  .coinsContainer {
    border-radius: 0px;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: none;
  }
}
